fastapi==0.115.4
uvicorn[standard]==0.32.1
sqlmodel==0.0.22
alembic==1.13.3
psycopg[binary]==3.2.3
python-multipart==0.0.9
pydantic-settings==2.6.1
pytest==8.3.3
httpx==0.28.1
chromadb==0.5.5
sentence-transformers==2.7.0
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
reportlab==4.2.5
markdown2==2.5.1
markdown-pdf==1.10.0
PyMuPDF>1.25.3
html2docx>=1.6.0
markdown>=3.6
