@import 'fonts.css';
@import 'styles-variables.css';

* {
    box-sizing: border-box;
    font-family: var(--main_font), sans-serif !important;
}

* :not(a, span) {
    color: var(--gray_100);
}

button {
    border: none;
    background-color: initial;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
}

html {
    min-height: 100vh;
}

#app {
    height: 100%;
}